body {
  background #ccc
  background-image url('https://s-media-cache-ak0.pinimg.com/originals/fa/4e/6c/fa4e6c0d93a4f1e8764d5582339b9281.jpg')
}

.header {
  padding 60px 0 40px 0

  &__title {
    color #fff
    text-align center
    font-size 2.1rem
  }
}