body {
  background #ccc
  background-image url('https://s-media-cache-ak0.pinimg.com/originals/fa/4e/6c/fa4e6c0d93a4f1e8764d5582339b9281.jpg')
  font-family: 'Roboto', sans-serif;
}

.header {
  padding 65px 0 40px 0

  &__title {
    color #fff
    text-align center
    font-size 2.1rem
  }

  &__subtitle {
    color #fff
    text-align center
    font-size 1.2rem
  }
}

.balance {
  position absolute
  left 50%
  margin-left 215px
  padding 10px
  top 0
  font-size 0.92rem
  background #fff4
  border-radius 0 0 4px 4px
  -webkit-backdrop-filter blur(4px)
  color #222
}

.moneyhack-icon {
  width 120px
  height 120px
  margin 20px 10px

  &:first-child {
    margin-left 0
  }
  &:last-child {
    margin-right 0
  }
}