.recommendations
  position relative
  display table
  width 96%
  margin-left 2%

  &__recommendation
    display table-cell
    width: 200px
    margin 10px 0 0 0

  &__title
    font-size 0.95em
    margin 0 0 20px 0

  &__chip
    margin 5px 5px 15px 0 !important

  &__expense
    margin-left 5px
    opacity 0.4

  &__credit
    margin-top 15px
    font-size 0.9em
    opacity 0.4
