.recommendations
  position relative
  display table
  width 96%
  margin-left 2%

  &__recommendation
    display table-cell
    margin 10px 0 0 0

  &__title
    margin 0 0 10px 0

  &__chip
    margin 5px 5px 10px 0 !important

  &__expense
    margin-left 5px
    opacity 0.4
